@import "../../styles/colors.scss";

// Commom styles to grid and layout
.price {
  font-size: 1.5rem;
  font-weight: 750;
  text-align: center;
  color: $primary-color;
  margin: auto;
  padding-bottom: 0.5rem;
}

.crossed {
  text-decoration: line-through;
  padding-right: 0.7rem;
  color: $dark-gray;
  padding-bottom: 1rem;
  font-weight: normal;
}

.name {
  font-size: 1.3rem;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  color: $dark-gray;
}

.btn {
  background-color: $blue;
  width: 100%;
  border: 0.1rem #a4a4a4 solid;
  color: white;
  border-radius: 0.2rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

button:hover {
  border: 0.1rem $darker-gray solid;
}

.image {
  border: 0.1rem $light-gray solid;
}
.image-container {
  flex-grow: 1;
}

// When grid layout is selected
.grid {
  margin: 10px 1%;
  flex-basis: 23%;

  &-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  img {
    width: 100%;
    height: auto;
  }

  p {
    margin-top: auto;
  }

  button {
    margin-top: auto;
  }
}

// When list layout is selected
.list {
  margin: 10px 0;
  flex-basis: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-mobile-button {
    display: none;
  }

  img {
    height: 25vh;
  }
  &-name,
  img {
    float: left;
  }

  &-name,
  span {
    height: 100%;
  }

  &-name {
    flex-basis: 40%;
    margin: 0;
  }

  span {
    flex-basis: 15%;
    padding: 0 1rem;
  }

  &.-no-sale {
    span {
      flex-basis: 30%;
    }
  }

  button {
    flex-basis: 15%;
    float: right;
  }
}

@media screen and (max-width: 1024px) {
  .grid {
    flex-basis: 32%;
    margin: 10px 0.5%;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    flex-basis: 48%;
    margin: 10px 0.5%;
  }

  .list {
    &-mobile-button {
      max-width: fit-content;
      display: block;
    }
    &-btn {
      display: none;
    }
  }
}
