@import "./../../app.scss";

.login-area {
  background-color: $darker-gray;
  color: white;
  text-align: center;

  p {
    margin-top: 0;
    padding: 0.7rem 0;
  }

  a {
    color: white;
    text-decoration: underline;
  }
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  span {
    display: none;
  }

  button {
    text-transform: uppercase;
    background-color: $primary-color;
    color: white;
    border: none;
    font-weight: 750;
    height: 2rem;
    width: 90px;
  }

  input {
    border: 1px solid $light-gray;
    border-right: none;
    box-sizing: border-box;
    height: 2rem;
    width: 200px;
  }

  i {
    cursor: pointer;
  }

  .search-icon {
    color: $primary-color;
  }
}

.brand {
  max-width: 200px;
  margin: auto;
}

.nav {
  background-color: white;

  &-hide {
    position: absolute;
    left: -100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    background-color: $primary-color;
  }

  li {
    list-style: none;

    a {
      color: white;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 750;
      display: block;
      padding: 20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .login-area {
    text-align: right;
    padding-right: 2rem;
  }

  .brand {
    margin: 0 2rem;
  }

  .header {
    i {
      display: none;
    }

    span {
      display: block;
    }
  }

  .nav {
    width: 100%;
    &-hide {
      position: inherit;
      left: 0;
    }

    &-toggle {
      display: none;
    }

    ul {
      flex-direction: row;
    }
    li {
      left: 0;
    }
  }
}
