@import "../../styles/colors.scss";

.page::after {
  content: "";
  clear: both;
  display: table;
}

.side-menu {
  float: left;
  width: 20%;
  height: 100%;
  background-color: $light-gray;
  margin: 0 1%;
  padding-bottom: 100px;

  li {
    padding-bottom: 1.5rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.content {
  float: left;
  width: 77%;
}

.rectangle {
  width: 100%;
  height: 200px;
  background-color: $dark-gray;
}

@media screen and (max-width: 768px) {
  .side-menu {
    display: none;
  }

  .content {
    float: none;
    margin: auto;
    width: 95%;
  }

  .rectangle {
    margin-top: 1rem;
    height: 100px;
  }
}
