@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import "./styles/normalize";
@import "./styles/colors";

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.pages {
  height: 100%;
  min-height: 100vh;
}
