@import "../../styles/colors.scss";

.page::after {
  content: "";
  clear: both;
  display: table;
}

.filter {
  float: left;
  width: 20%;
  border: 1px solid $light-gray;
  border-radius: 0.2rem;
  margin: 0 2% 2rem 1%;
  padding-left: 1rem;
  padding-bottom: 1rem;

  ul {
    margin: 0 1rem;
    padding: 0;
    color: $dark-gray;
  }

  a {
    color: $dark-gray;
    text-decoration: none;
  }

  h2 {
    text-transform: uppercase;
    color: $primary-color;
  }

  h3 {
    text-transform: uppercase;
    color: $blue;
  }
}

.color-box {
  height: 20px;
  width: 30%;
  max-width: 80px;
  display: inline-block;
  cursor: pointer;
  margin-right: 2%;
}

.red {
  background-color: $primary-color;
}

.orange {
  background-color: $orange;
}

.blue {
  background-color: $blue;
}

.results {
  float: left;
  width: 76%;
}

.page-title {
  color: $primary-color;
  margin-top: 0;
  font-size: 2rem;
  border-bottom: 1px solid $light-gray;
}

.topbar {
  margin-top: -20px;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 0.5rem;

  i {
    color: $dark-gray;
    padding: 0 0.5rem;
    cursor: pointer;
  }
}

.layout-icons {
  display: inline;

  .active {
    color: $blue;
  }
}

.order-by {
  display: inline;
  float: right;

  p,
  select {
    display: inline;
  }

  p {
    text-transform: uppercase;
    color: $dark-gray;
    font-weight: bold;
    font-size: 0.9rem;
    padding-right: 1rem;
  }

  select {
    border: 1px solid $light-gray;
    border-radius: 0.4rem;
    width: 200px;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .filter,
  .results {
    float: none;
    margin: auto;
    width: 95%;
  }

  .order-by {
    select {
      width: 100px;
    }
  }

  .page-title {
    margin-top: 10px;
  }
}
